body{
    margin: 0;
    padding: 0;
}
h1{
    color: azure;
    font-family: 'Paytone One', cursive;
    text-shadow: 2px 2px 4px #000000;
}
.heading{
    height: 180px;
}
.wrapper input{    
    margin:20px 0px 10px 0px;
}
.table-heading > th{
    padding: 10px;
    text-align: center;
    font-family: "monospace";
    font-size: 18px;
}
.table-data > td{
    padding: 10px;
    text-align: center;
    font-family: "monospace";
    font-size: 18px;
}
.action i{
    font-size: 18px;
    cursor: pointer;
}
.viewEmployee{    
    background: black;
    color: chartreuse;
    font-family: monospace;
    font-size: 20px;
    padding: 20px;
    border-radius: 8px;
    border: 1px dashed;    
}
.viewEmployee > .row{
    margin: 20px;
}