<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD APP</title>
    <script src="/assets/angular.min.js"></script>    
    <script src="app.js"></script>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <link href="/assets/font.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/assets/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="custom.css">
</head>

<body ng-app="crud" ng-controller="crudCtrl">
    <div class="container">
        <div class="heading">
            <h1 class="text-center">CRUD APP FOR EMPLOYEES</h1><hr>           
            <button class="btn btn-success btn-lg pull-right" id="addbtn" ng-hide="view" ng-click="add=true">Add Employee</button>
            <button class="btn btn-primary btn-lg pull-right" id="back" ng-show="view" ng-click="back()">Back</button>
        </div>

        <div class="addEmployee" ng-show="add">
            <div class="wrapper">
                <form>
                    <input type="text" ng-model="emp.firstname" class="form-control" placeholder="Enter Firstname" required>
                    <input type="text" ng-model="emp.lastname" class="form-control" placeholder="Enter Lastname" required>
                    <input type="email" pattern="[^ @]*@[^ @]*" ng-model="emp.email" class="form-control" placeholder="Enter Email" required>
                    <input type="text" ng-model="emp.location" class="form-control" placeholder="Enter Location">                   
                    <input type="text" ng-model="emp.salary" class="form-control" placeholder="Enter Salary">
                    <input type="submit" value="Submit" class="btn btn-primary pull-right" ng-hide="update" ng-click="createEmp()">
                    <input type="submit" value="Update" class="btn btn-info pull-right" ng-show="update" ng-click="updateEmp()">
                    <input type="submit" value="Cancel" class="btn btn-danger pull-right" style="margin-right: 5px;" ng-click="back()">
                </form>
            </div>
        </div>
        <div class="viewEmployee" ng-if="view">
            <div class="row">
                <div class="col-md-6"><b>First Name</b></div>
                <div class="col-md-6"><b>{{emp.firstname}}</b></div>
            </div>
            <div class="row">
                <div class="col-md-6"><b>Last Name</b></div>
                <div class="col-md-6"><b>{{emp.lastname}}</b></div>
            </div>
            <div class="row">
                <div class="col-md-6"><b>Email ID</b></div>
                <div class="col-md-6"><b>{{emp.email}}</b></div>
            </div>
            <div class="row">
                <div class="col-md-6"><b>Location</b></div>
                <div class="col-md-6"><b>{{emp.location}}</b></div>
            </div>
            <div class="row">
                <div class="col-md-6"><b>Salary</b></div>
                <div class="col-md-6"><b>{{emp.salary | currency:"₹":0}}</b></div>
            </div>
        </div>
        <div class="employeeData" ng-hide="add">
            <table class="table-hover table-striped col-md-12" ng-if="employeeData.length">
                <tr class="table-heading">
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email ID</th>
                    <th>Action</th>                  
                </tr>
                <tr ng-repeat="emp in employeeData track by $index" class="table-data">
                    <td>{{$index + 1}}</td>
                    <td>{{emp.firstname}}</td>
                    <td>{{emp.lastname}}</td>
                    <td>{{emp.email}}</td>
                    <td>
                        <span class="action" ng-click="viewEmp(emp._id)"><i class="fa fa-eye"></i></span>                        
                        <span class="action" ng-click="editEmp(emp._id)"><i class="fa fa-pencil"></i></span>
                        <span class="action" ng-click="deleteEmp(emp._id)"><i class="fa fa-trash" style="color:brown"></i></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>